.colorStrip {
    width: 100%;
    height: 70px;
    border-style: solid;
    border-color: #3a3a3a;
    background-color: #3a3a3a;
    color: #DC143C;
    font-size: 50px;
}

.ref {
    position: absolute;
    right: 25px;
    font-size: 20px;
}

h1 {
    color: #ff4500;
    font-family: cursive;
}

.cardCollection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.card {
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card p {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #214493;
    background-color: #eeeeee;
    padding-top: 25px;
    margin: auto;
}

.videoTutorial {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    color: #005f00;
    font-weight: bold;
    font-family: fantasy;
}

.video {
    display: flex;
    justify-content: center;
}

.textInstruction {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutOrigami {
    display: flex;
    justify-content: start;
    font-weight: 200;
    font-size: 22px;
    font-style: italic;
}

.aboutMe {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: Candara;
    font-weight: 600;
}

#email {
    font-size: 20px;
}

.ImageGroup {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.Image {
    background: #f0f0f0;
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
}